# Script Corrigido e Blindado para Azure
name: Build and deploy ASP.Net Core app to Azure Web App - portfolio-api-gustavo-v2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Build with dotnet
        run: dotnet build GustavoPortfolio.API --configuration Release

      - name: dotnet publish
        # MUDANÇA: Salvando numa pasta com nome simples "./publicado"
        run: dotnet publish GustavoPortfolio.API -c Release -o ./publicado

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./publicado

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publicado # Baixa exatamente para essa pasta

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A338AE4224924C1B99791BBA431C81BD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_07473567952445918AF84B40A2301BFB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B8A618ADB64B474A86F620D03394E8F1 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'portfolio-api-gustavo-v2'
          slot-name: 'Production'
          package: ./publicado # Manda essa pasta específica
